*{
    padding: 0;
    margin: 0;
}
footer{
    height: 50w;
    background: linear-gradient(0deg, #7a7a7a00 0,#d39f6f 100%) ;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fer-nav-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 3vw;
}
.fer-nav-1 li img{
    width: 3vw;
    margin: 20px;
}
.fer-nav-1 a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fer-nav-1{
    height: 10vw;
}

.fer-nav-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 25vw;
}
.fer-nav-2-div-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fer-nav-2-div-2{
    padding: 20px;
}
.fer-nav-2-div-2 li{
    list-style-type: none;
    padding: 10px;
}
.fer-nav-2-div-2 ul{
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fer-nav-2-div-2 a{
    color: rgba(0,0,0, .5);
    text-decoration: none;
}
.fer-nav-2-div-2 a:hover{
    color: rgba(0,0,0, .7);
    text-decoration: underline;
}
.fer-nav-2-div-2 h3{
    padding: 11px;
}

.fer-div-1{
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fer-div-1 p{
    font-size: 13px;
}

* {
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
  }

@media screen and (max-width:765px) {  
    footer{
        height: 500vw;
        width: 100%;
    }
    .fer-nav-2-div-1{
        flex-direction: column;
        height: 400vw;
        width: 100%;
    }
  }

  .fer-nav-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    border: 0;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}
.fer-nav-1 a:hover {
    transform: scale(1.2);
}
.fer-nav-1 a:active {
    transform: scale(0.98);
}